# Write a python program to scrape ‘data scientist’ job listings for location ‘New Delhi’ from ‘Monster.com’. 
It should include all the jobs listed for the next 5 pages.

Note :- In this assignment we were asked to webscrap 5 page , but in Monster.com result was available of only  1 page so we have scrap only 1 page.

In [482]:
#Importing Library
import selenium
import pandas as pd
from selenium import webdriver

In [483]:
# Loading Driver
driver = webdriver.Chrome(r"C:\Users\thunderbolt\sof\chromedriver.exe")

In [484]:
#Giving website address of the page we have to scrap.
url='https://www.monsterindia.com/srp/results?query=Data%20Scientist&locations=Delhi&filter=true&searchId=eb5204d1-3e34-423e-a98d-2d07dfcb5275'

In [485]:
driver.get(url)

In [486]:
Job=[]
Company=[]
Location=[]
Year= []
Salary=[]

In [487]:
loc=driver.find_elements_by_xpath("//h3[@class='medium']")

In [488]:
loc[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="efc8b3b9-6cca-4072-a784-a04d4cd76817")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="e0eddefc-4b99-4e68-80db-4983f5b20278")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="46fcdb9b-7813-4402-a3f8-8bfb136b336b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="c71e776f-a9ff-4fea-95bf-6085edc142d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="6fe6d54b-0a27-4706-aa63-f0c73e7a030c")>]

In [489]:
# Getting Job Details data
for i  in loc:
    Locat=i.text
    Job.append(Locat)
Job[0:5]

['Data Analyst / Fresher / Data Scientist / Graduate Fresher - MNC - 7303778896 | 9560245147',
 'Data Analyst / Fresher / Data Scientist / Graduate Fresher - MNC - 7303778896 | 9560245147',
 'Data Analyst – Fresher – Data Scientist – Any Graduate - Fresher 6397800351 | 9717266846',
 'Data Analyst / Fresher / Data Scientist / Graduate Fresher - MNC - 7303778896 | 9560245147',
 'Data Analyst – Fresher – Data Scientist – Graduate - Fresher 7303778896 | 9560245147 | 6397800351']

In [490]:
jo=driver.find_elements_by_xpath("//span[@class='company-name']")
jo[0:5]

[<selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="5a2947f0-82b5-4325-8832-f4a69b398ffd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="ec0b1d11-ce4c-4dfb-9ba5-f9d5bbdddde4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="7ccef791-b9a8-42ba-afd2-6d18fb24f3dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="1f9c3931-299e-45eb-a3b8-48cf56f2ba6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ab0901ae4bcd36c2fa2f7847ae1e01a9", element="8d754e4c-7ebd-47d5-93b2-4b6916750703")>]

In [491]:
# Getting Company Name Data
for hi in jo:
    po=hi.text
    Company.append(po)
Company[0:5]

['Structured Learning Assistance Consultants India Private Limited',
 'Structured Learning Assistance Consultants India Private Limited',
 'Structured Learning Assistance Consultants India Private Limited',
 'Structured Learning Assistance Consultants India Private Limited',
 'Structured Learning Assistance Consultants India Private Limited']

In [492]:
yolo=driver.find_elements_by_xpath("//div[@class='col-xxs-12 col-sm-5 text-ellipsis']/span/small" )

In [493]:
# Getting Location Data
for bd in yolo:
    pou=bd.text
    Location.append(pou)
Location[0:5]

['Delhi, Ghaziabad',
 'Delhi, Gurgaon / Gurugram',
 'Delhi, Noida',
 'Delhi, Ghaziabad',
 'Delhi, Gurgaon / Gurugram']

In [494]:
yolo=driver.find_elements_by_xpath("//div[@class='exp col-xxs-12 col-sm-3 text-ellipsis']/span/small")

In [495]:
# Getting Year of Experience data
for jk in yolo:
    pou=jk.text
    Year.append(pou)
Year[0:5]

['0-5 Years', '0-5 Years', '0-5 Years', '0-5 Years', '0-5 Years']

In [496]:
Data_Scientist = pd.DataFrame({'Job':Job,'Company':Company,'Location':Location,'Experience':Year})

# Data of Data Scientist Job In Delhi

In [497]:
Data_Scientist

,Job,Company,Location,Experience
0,Data Analyst / Fresher / Data Scientist / Grad...,Structured Learning Assistance Consultants Ind...,"Delhi, Ghaziabad",0-5 Years
1,Data Analyst / Fresher / Data Scientist / Grad...,Structured Learning Assistance Consultants Ind...,"Delhi, Gurgaon / Gurugram",0-5 Years
2,Data Analyst – Fresher – Data Scientist – Any ...,Structured Learning Assistance Consultants Ind...,"Delhi, Noida",0-5 Years
3,Data Analyst / Fresher / Data Scientist / Grad...,Structured Learning Assistance Consultants Ind...,"Delhi, Ghaziabad",0-5 Years
4,Data Analyst – Fresher – Data Scientist – Grad...,Structured Learning Assistance Consultants Ind...,"Delhi, Gurgaon / Gurugram",0-5 Years
5,Data Analyst – Fresher – Data Scientist – Grad...,Structured Learning Assistance Consultants Ind...,"Delhi, Noida",0-5 Years
6,DATA ANALYST – FRESHER – DATA SCIENTIST – SAS ...,Structured Learning Assistance Consultants Ind...,"Delhi, Noida",0-5 Years
7,Data Scientist - 11,Accenture,"Delhi, Mumbai",0-3 Years
8,Data Scientist - 09,Accenture,"Delhi, Mumbai",3-6 Years
9,Data Scientist - 09,Accenture,"Delhi, Mumbai",3-6 Years
10,Data Scientist - 11,Accenture,"Delhi, Mumbai",0-3 Years
11,Data Scientist - Gurgaon || Experience 5 - 7 y...,WNS Global Services Private Limited,"Delhi, Delhi NCR",Not Specified